
        <h2 class="h2 block__title">Forms and Buttons</h2>
        <form class="form" id="form-signup">
            <fieldset>
                <legend>Create your account</legend>
                <ul class="form__list">
                    <li class="form__item">
                        <label for="form-signup__email">Email Address</label>
                        <input type="email" class="field" id="form-signup__email" placeholder="me@example.com…">
                    </li>
                    <li class="form__item">
                        <label for="form-signup__password">Password</label>
                        <input type="password" class="field" id="form-signup__password">
                    </li>
                    <li class="form__item">
                        <label for="form-signup__profile">Profile</label>
                        <textarea class="field" id="form-signup__profile" placeholder="Your profile…"></textarea>
                    </li>
                    <li class="form__item">
                        <label class="label--checkbox" for="form-signup__remember">
                            <input type="checkbox" id="form-signup__remember"> <span>Remember me</span>
                        </label>
                    </li>
                <li class="form__item">
                    <input type="submit" class="button button--large" value="Sign Up">
                </li>
                </ul>
            </fieldset>
        </form>

        <hr>

        <h2 class="h2">Buttons</h2>

        <input type="submit" class="button" value="Submit">
        <button type="button" class="button">Button</button>
        <a href="#" class="button">Anchor</a>
        <a href="#" class="button button--link">Link</a>

        <!-- @include origin/code/_buttons.html -->

        <button type="button" class="button button--large">Large Button</button>
        <p class="p"><code>.button--large</code></p>
        <button type="button" class="button button--small">Small Button</button>
        <p class="p"><code>.button--small</code></p>

        <hr>

        <h2 class="h2">Switches</h2>
        <p class="p">If CSS <code>:checked</code> selector is not supported these are normal inline checkboxes.</p>

        <label class="label--checkbox">
            <input class="switch" type="checkbox"> <span>Option label</span>
        </label>
        <br>
        <label class="label--checkbox">
            <input class="switch" type="checkbox" checked> <span>Option label</span>
        </label>

        <!-- @include origin/code/_switches.html -->

        <hr>

        <h2 class="h2">Inline Form</h2>

        <form class="form form--inline" id="form-login">
            <ul class="form__list">
                <li class="form__item">
                    <label for="form-login__username">Username</label>
                    <input type="text" class="field" id="form-login__username" placeholder="Username…">
                <li class="form__item">
                    <label for="form-login__password">Password</label>
                    <input type="password" class="field" id="form-login__password">
                <li class="form__item">
                    <input type="submit" class="button" value="Login">
            </ul>
        </form>

        <!-- @include origin/code/_form-inline.html -->

        <h2 class="h2">Single Form <small>(full-width)</small></h2>

        <form class="form form--single" id="form-search">
            <ul class="form__list">
                <li class="form__item">
                    <label for="form-search__query">Query</label>
                    <input type="text" class="field" id="form-search__query" placeholder="Enter search query…">
                </li>
                <li class="form__item">
                    <button type="submit" class="button">Search</button>
                </li>
            </ul>
        </form>

        <!-- @include origin/code/_form-single.html -->
