
        <h2 class="h2 block__title">Other Layouts</h2>

        <article class="media">
            <img class="media__image" src="<!-- @asset img/apple-touch-icon.png -->" alt="example">
            <div class="prose media__body">
                <h3>Media (left)</h3>
                <p class="p--no-margin">I make websites. I help small businesses, start-ups, individuals, and fellow web agencies make the most of their web presence. I like to call myself a <q>Websitemaker</q>. It gets straight to the point. While I specialise in design and front-end development, my experience and knowledge covers a whole lot more. So if anyone asks, tell them I make websites.</p>
                <p><a href="http://dbushell.com/">Visit my website</a></p>
            </div>
        </article>

        <article class="media media--rtl">
            <img class="media__image" src="<!-- @asset img/apple-touch-icon.png -->" alt="example">
            <div class="prose media__body">
                <h3>Media (right)</h3>
                <p class="p--no-margin">I make websites. I help small businesses, start-ups, individuals, and fellow web agencies make the most of their web presence. I like to call myself a <q>Websitemaker</q>. It gets straight to the point. While I specialise in design and front-end development, my experience and knowledge covers a whole lot more. So if anyone asks, tell them I make websites.</p>
                <p><a href="http://dbushell.com/">Visit my website</a></p>
            </div>
        </article>

<!--

        <h3 class="h3">Justified Grid <mark>(experimental)</mark></h3>

        <ul class="justified">
            <li class="justified__item">Item One</li>
            <li class="justified__item">Item Two</li>
            <li class="justified__item">Item Three</li>
            <li class="justified__item">Item Four</li>
            <li class="justified__item">Item Five</li>
            <li class="justified__item">Item Six</li>
            <li class="justified__item">Item Seven</li>
        </ul>

-->
