
        <h2>Typography</h2>

        <p>General typographic styles are either scoped with <code>.prose</code> or applied with individual classes like <code>.h1</code> or <code>.p--small</code>. This practice stops style leaking into unexpected areas. See my article <a href="http://dbushell.com/2012/04/18/scoping-typography-css/" target="_blank">Scoping Typography CSS</a>.</p>

        <h1>This is the primary headline</h1>
        <h2>This is a secondary headline</h2>
        <h3>This is a tertiary headline</h3>
        <h4>This is a average headline</h4>
        <h5>This is a small headline</h5>
        <h6>This is a micro headline</h6>

        <hr>

        <div class="prose">
            <p><em>I make websites</em>. I help small businesses, start-ups, individuals, and <a href="#">fellow web agencies</a> make the most of their web presence. I like to call myself a <q>Websitemaker</q>. It gets straight to the point. While I specialise in design and <mark>front-end development</mark>, my experience and knowledge covers a whole lot more. So if anyone asks, tell them I make websites.</p>
            <ul>
                <li>Responsive website design</li>
                <li>Front-end development
                    <ul>
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>JavaScript</li>
                    </ul>
                </li>
                <li>WordPress Theme CMS development</li>
            </ul>
            <p><strong>That was an <code>&lt;ul&gt;</code> (unordered list) and this is an <code>&lt;ol&gt;</code> (ordered list):</strong></p>
            <ol>
                <li>Clone the repository</li>
                <li>Run <code>npm install</code></li>
                <li>Run <code>grunt watch</code> and start coding!</li>
            </ol>
            <p class="p--small"><small>Copyright &copy; 2013 David Bushell &mdash; this is small print.</small></p>

            <h3>This is a large paragraph</h3>
            <p class="p--large">I make websites. I help small businesses, start-ups, individuals, and fellow web agencies make the most of their web presence. I like to call myself a <q>Websitemaker</q>.</p>

            <h3>This is a small paragraph</h3>
            <p class="p--small">I make websites. I help small businesses, start-ups, individuals, and fellow web agencies make the most of their web presence. I like to call myself a <q>Websitemaker</q>. It gets straight to the point. While I specialise in design and front-end development, my experience and knowledge covers a whole lot more. So if anyone asks, tell them I make websites.</p>

            <h3>This is a blockquote</h3>
            <blockquote>
                <p class="p--large p--quote">I consider a browser supported if I actively test the core content and functionality — integral to the purpose of the website — is accessible. I’ll also take steps to ensure the quality of design and overall experience is on par with the browser’s capabilities.</p>
                <p class="p--small"><cite>David Bushell</cite></p>
            </blockquote>
        </div>
