
.button, .label, .field, button, label, input, select {
    font-family: $fonts--sans;
    // https://github.com/twbs/bootstrap/issues/8702#issuecomment-21692968
    background-image: none !important;
    text-shadow: none !important;
}

.label {
    display: inline-block;
    vertical-align: middle;
    @include font-size(14, $baseline);
    font-weight: bold;
}

.label--checkbox {
    display: inline-block;
    vertical-align: middle;
    @include font-size(14, $baseline);
    font-weight: normal !important;

    input[type="radio"],
    input[type="checkbox"] {
        float: left;
        font-size: inherit;
        margin: 0.5em 0.5em 0 0;
    }

    input[type="checkbox"]:focus + span,
    input[type="checkbox"]:checked + span {
        color: $colour--text--link;
    }

    input[checked="checked"] + span {
        color: $colour--text--link;
    }
}

.field {
    @include no-appearance;
    display: block;
    clear: both;
    box-sizing: border-box;
    @include font-size(16, $field - (($unit * 2) + 4));
    width: 100%;
    max-width: em(400);
    height: em($field);
    padding: em($unit) em($unit * 2);
    outline: none;
    color: $colour--text--light;
    border: em(2) solid $colour--hairline;
    background: $colour--bg--light;
    font-family: $fonts--sans;

    &:focus {
        color: $colour--text;
        border-color: $colour--text--link;
    }

    .lt-ie8 &,
    .no-boxsizing & {
        padding: 0;
        line-height: em($baseline + $unit);
        text-indent: em($unit);
    }

    input[type="file"] {
        width: 100%;
    }
}

textarea.field {
    height: auto;
    max-width: none;
    min-height: em(($baseline*3) + $unit);
}

.button {
    @include no-appearance;
    position: relative;
    display: inline-block;
    *display: inline;
    box-sizing: border-box;
    @include font-size(16, $field - (($unit * 2) + 4));
    padding: em($unit) em($unit * 3);
    height: em($field);
    outline: none;
    border: none;
    color: $colour--text--link;
    font-weight: bold;
    vertical-align: middle;
    border-radius: em(5);
    border: em(2) solid $colour--text--link;
    transition: border-color 100ms ease, background-color 100ms ease, transform 100ms ease;
    background-color: transparent;

    &:focus,
    &:hover {
        color: $colour--text--link--hover;
        border-color: $colour--text--link--hover;
        border-width: em(2);
    }
}

.button--link {
    text-decoration: underline;
    background: transparent;
    border-color: transparent !important;
}

.button--large {
    @include font-size(18, $field - 4);
    border-width: em(2, 18) !important;
    border-radius: em(8, 18);
    padding: em($unit, 18) em($unit * 4, 18);
    height: em($field + ($unit * 2), 18);
}

.button--small {
    @include font-size(14, $field - ($unit + 4));
    border-width: em(2, 14) !important;
    border-radius: em(5, 14);
    padding: 0 em($unit * 1.5, 14);
    height: em($field - ($unit), 14);
}

.form__list {
    @include clearfix;
    margin: 0;
    list-style: none;

    &:last-child {
        margin-bottom: 0;
    }
}

.form__item {
    font-size: inherit;
    line-height: 0;
    margin-bottom: em($baseline / 2);

    &:last-child { margin-bottom: 0; }
}

.form {
    margin-bottom: em($baseline);

    &:last-child {
        margin-bottom: 0;
    }

    label {
        @extend .label;
    }
}

.form--inline {
    margin-bottom: em($baseline/2);

    .form__item {
        display: inline-block;
        vertical-align: bottom;
        margin-right: em($gutter/2);
        margin-bottom: em($baseline/2);
    }
}

.form--aligned {

    .form__item {
        position: relative;
        padding-left: em(140 + $gutter);

        & > label:not([class*="label--"]) {
            position: absolute;
            top: em($unit, 14);
            left: 0;
            text-align: right;
            width: em(140, 14);
        }
    }
}

.form--single {

    .form__list {
        display: table;
        width: 100%;
    }

    .form__item {
        display: table-cell;
        margin: 0;
        width: 100%;
        height: em($field);
        vertical-align: top;

        &:last-child {
            width: auto;
        }
    }

    .field {
        max-width: none;
    }

    label {
        @include visually-hidden;
    }

    .button {
        float: right;
        margin-left: em($gutter/2);
    }
}
