
.button, .label, .field, button, label, input, select {
    font-family: $fonts--sans;
    // https://github.com/twbs/bootstrap/issues/8702#issuecomment-21692968
    background-image: none !important;
    text-shadow: none !important;
}

.label {
    display: inline-block;
    vertical-align: middle;
    @include font-size(14, $unit--baseline);
    font-weight: bold;
}

.label--checkbox {
    display: inline-block;
    vertical-align: middle;
    @include font-size(14, $unit--baseline);
    font-weight: normal !important;

    input[type="radio"],
    input[type="checkbox"] {
        float: left;
        font-size: inherit;
        margin: 0.5em 0.5em 0 0;
    }

    input[type="checkbox"]:focus + span,
    input[type="checkbox"]:checked + span {
        color: $colour__text--link;
    }

    input[checked="checked"] + span {
        color: $colour__text--link;
    }
}

.field {
    @include no-appearance;
    display: block;
    clear: both;
    box-sizing: border-box;
    @include font-size(16, $unit--field - (($unit * 2) + 4));
    width: 100%;
    max-width: em(400);
    height: em($unit--field);
    padding: em($unit) em($unit * 2);
    outline: none;
    color: $colour__text--light;
    border: em(2) solid $colour__hairline;
    background: $colour__bg--light;
    font-family: $fonts--sans;

    &:focus {
        color: $colour__text;
        border-color: $colour__text--link;
    }

    .lt-ie8 &,
    .no-boxsizing & {
        padding: 0;
        line-height: em($unit--baseline + $unit);
        text-indent: em($unit);
    }

    input[type="file"] {
        width: 100%;
    }
}

textarea.field {
    height: auto;
    max-width: none;
    min-height: em(($unit--baseline*3) + $unit);
}

fieldset {
    padding: 0;
    margin: 0;
    border: 0;
    outline: none;

    legend {
        @include font-size(24, $unit*5);
        margin-bottom: em($unit*2);
        width: 100%;
        padding: 0;
        color: $colour__text--light;
        font-weight: normal;
        border-bottom: 1px solid $colour__hairline;
    }
}

.button {
    @include no-appearance;
    position: relative;
    display: inline-block;
    *display: inline;
    box-sizing: border-box;
    @include font-size(16, $unit--field - (($unit * 2) + 4));
    padding: em($unit) em($unit * 3);
    height: em($unit--field);
    outline: none;
    border: none;
    color: $colour__text--link;
    font-weight: bold;
    vertical-align: middle;
    border-radius: em(5);
    border: em(2) solid $colour__text--link;
    transition: border-color 100ms ease, background-color 100ms ease, transform 100ms ease;
    background-color: transparent;

    &:focus,
    &:hover {
        color: $colour__text--link--hover;
        border-color: $colour__text--link--hover;
        border-width: em(2);
    }
}

.button--link {
    text-decoration: underline;
    background: transparent;
    border-color: transparent !important;
}

.button--large {
    @include font-size(18, $unit--field - 4);
    border-width: em(2, 18) !important;
    border-radius: em(8, 18);
    padding: em($unit, 18) em($unit * 4, 18);
    height: em($unit--field + ($unit * 2), 18);
}

.button--small {
    @include font-size(14, $unit--field - ($unit + 4));
    border-width: em(2, 14) !important;
    border-radius: em(5, 14);
    padding: 0 em($unit * 1.5, 14);
    height: em($unit--field - ($unit), 14);
}

// .switch {
//     // scope with both selectors to avoid partial support
//     &:checked ,
//     &:not(:checked) {
//         @include visually-hidden;

//         & + span {
//             position: relative;
//             display: inline-block;

//             &:before {
//                 content: "Off";
//                 position: relative;
//                 display: inline-block;
//                 font-size: em(12, 14);
//                 line-height: em($unit*3, 12);
//                 top: em($unit/2, 12);
//                 width: em($unit--gutter*2, 12);
//                 height: em($unit*3, 12);
//                 padding: 0 em($unit, 12);
//                 margin-right: em($unit, 12);
//                 background: $colour__bg--light;
//                 vertical-align: top;
//                 color: $colour__text--light;
//                 font-weight: bold;
//                 text-align: right;
//                 text-transform: uppercase;
//             }

//             &:after {
//                 content: "";
//                 position: absolute;
//                 display: block;
//                 top: em($unit/2, 14);
//                 left: 0;
//                 width: em($unit--gutter+$unit, 14);
//                 height: em($unit*3, 14);
//                 background: $colour__text--light;
//                 transition: left 50ms ease, background 50ms ease;
//             }
//         }
//     }

//     &:checked + span {
//         &:before {
//             content: "On";
//             text-align: left;
//         }
//         &:after {
//             left: em($unit--gutter+$unit, 14);
//             background: $colour__text--link;
//         }
//     }
// }

.form__list {
    @include clearfix;
    margin: 0;
    list-style: none;

    &:last-child {
        margin-bottom: 0;
    }
}

.form__item {
    font-size: inherit;
    line-height: 0;
    margin-bottom: em($unit--baseline / 2);

    &:last-child { margin-bottom: 0; }
}

.form {
    margin-bottom: em($unit--baseline);

    &:last-child {
        margin-bottom: 0;
    }

    label {
        @extend .label;
    }
}

.form--inline {
    margin-bottom: em($unit--baseline/2);

    .form__item {
        display: inline-block;
        vertical-align: bottom;
        margin-right: em($unit--gutter/2);
        margin-bottom: em($unit--baseline/2);
    }
}

.form--aligned {

    .form__item {
        position: relative;
        padding-left: em(140 + $unit--gutter);

        & > label:not([class*="label--"]) {
            position: absolute;
            top: em($unit, 14);
            left: 0;
            text-align: right;
            width: em(140, 14);
        }
    }
}

.form--single {

    .form__list {
        display: table;
        width: 100%;
    }

    .form__item {
        display: table-cell;
        margin: 0;
        width: 100%;
        height: em($unit--field);
        vertical-align: top;

        &:last-child {
            width: auto;
        }
    }

    .field {
        max-width: none;
    }

    label {
        @include visually-hidden;
    }

    .button {
        float: right;
        margin-left: em($unit--gutter/2);
    }
}
