
.media {
    @include clearfix;

    &__image {
        float: left;
        margin-right: em($gutter);
    }

    &__body {
        overflow: hidden;
    }

    &--rtl {
        .media__image {
            float: right;
            margin-left: em($gutter);
            margin-right: 0;
        }
    }
}
