
.table {
    width: 100%;
    margin-bottom: em($baseline);

    tr { border-bottom: 1px solid $colour--hairline; }

    tbody {
        tr:last-child { border-bottom: 0; }
    }

    th {
        text-align: left;
        font-weight: bold;
    }

    th, td {
        @include font-size(16, $unit*3);
        padding: em($unit);
    }

    table {
        font-size: inherit;
        line-height: inherit;
    }

    &:last-child { margin-bottom: 0; }

    &--striped {
        tbody {
            tr:nth-child(odd) {
                background: $colour--bg--light;
            }
        }
    }

    &--bordered {
        tr { border: none; }
        th, td { border: 1px solid $colour--hairline; }
    }

    &--condensed {
        th, td {
            padding: em($unit/2) em($unit);
        }
    }
}
