
::selection {
    color: #fff;
    background: $colour--text--link;
}

.text-error {
    color: $colour--red;
}

.text-success {
    color: $colour--green;
}

.link {
    color: $colour--text--link;
    text-decoration: none;

    &:focus, &:hover {
        color: $colour--text--link--hover;
    }
}

.h0 {
    @include font-size($h0, $unit * 7);
    margin-bottom: em($unit * 2, $h0);
}

.h1 {
    @include font-size($h1, $unit * 7);
    margin-bottom: em($unit * 2, $h1);
}

.h2 {
    @include font-size($h2, $unit * 5);
    margin-bottom: em($unit * 2, $h2);
}

.h3 {
    @include font-size($h3, $unit * 5);
    margin-bottom: em($unit * 2, $h3);
}

.h4 {
    @include font-size($h4, $unit * 4);
    margin-bottom: em($unit * 2, $h4);
}

.h5 {
    @include font-size($h5, $unit * 4);
    margin-bottom: em($unit * 2, $h5);
}

.h6 {
    @include font-size($h6, $unit * 4);
    margin-bottom: em($unit * 2, $h6);
}

.h0, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-top: 0;
    font-weight: normal;

    &:last-child { margin-bottom: 0; }
}

.p {
    @include font-size($p);
    margin-top: 0;
    margin-bottom: em($baseline/2, $p);
    color: $colour--text;

    &:last-child { margin-bottom: 0; }
}

.p--quote {

    &:before {
        display: inline-block;
        line-height: 1;
        content: "“";
        width: 0.6em;
        margin-left: -0.6em;
        opacity: 0.7;
    }

    &:after {
        content: "”";
        opacity: 0.7;
    }
}

.p--large {
    @include font-size($p--large, $p--large + ($unit * 2));
    margin-bottom: em($baseline, $p--large);

    &:last-child { margin-bottom: 0; }
}

.p--small {
    @include font-size($p--small, $unit * 3);
    margin-bottom: em($baseline/2, $p--small);

    &:last-child { margin-bottom: 0; }

    a {
        border-bottom: none !important;
        text-decoration: underline;
    }
}

ul, ol {
    padding: 0;
    margin-top: 0;
    margin-left: em($gutter);
    margin-bottom: em($baseline);
    list-style: disc outside;

    p + & {
        margin-top: em($baseline);
    }

    li {
        @include font-size($p);
        margin-bottom: em($unit, $p);
        color: $colour--text;
    }

    &:not([class]) p {
        font-size: inherit;
        line-height: inherit;
    }

    ul, ol {
        font-size: inherit;
        line-height: inherit;
        margin-left: em($gutter, $p);
        margin-top: em($unit, $p);
        margin-bottom: em($unit, $p) !important;

        li {
            font-size: inherit;
            line-height: inherit;
        }
    }

    &:last-child { margin-bottom: 0; }
}

ol {
    list-style: decimal outside;
}

cite {
    border: none;
}

.quote,
blockquote:not([class*="quote--"]) {
    margin: em($baseline) 0;
    padding: 0 em($gutter);
    border-left: em(2) solid $colour--hairline;

    p {
        color: $colour--text--light;
    }

    .p--large {
        & + .p--small:last-child { margin-top: em(-$unit * 2, $p--small); }
    }

    cite {
        font-style: normal;

        a:not(:hover) {
            color: $colour--text--light;
        }

        a {
            text-decoration: underline;
            text-shadow: none !important;
            background: none !important;
        }
    }
}

abbr,
.abbr,
acronym {
    &[title] {
        border: none;
        background-image: linear-gradient(to left, rgba($colour--text, 0) 50%, rgba($colour--text, 0.5) 50%);
        background-position: 0 bottom;
        background-repeat: repeat-x;
        background-size: 2px 1px;
    }
}

pre,
kbd,
code {
    @include font-size($p--small, $unit * 3);
    font-family: $fonts--monospace;
    background: $colour--bg--dark;
    color: $colour--white;
}

code {
    color: $colour--text;
    background: $colour--canvas;
}

pre {
    clear: both;
    overflow: auto;
    margin: em($baseline * 1.5, $p--small) 0;
    padding: em($baseline, $p--small) em($gutter, $p--small);
    box-shadow: inset 0 1px 7px darken($colour--bg--dark, 10);

    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;

    code {
        display: block;
        color: inherit;
        font-size: inherit;
        line-height: inherit;
        background: none;
        padding: 0;
    }
}

kbd,
code {
    display: inline-block;
    line-height: 1.5;
    padding: 0 em(3, $p--small);

    p & {
        font-size: em($p--small, $p);
    }
}

mark,
.mark {
    background: $colour--highlight;
    text-shadow: none !important;
}

q {
    font-style: italic;
    &:before { content: "“"; }
    &:after { content: "”"; }
}

small {
    color: $colour--text--light;
    font-size: inherit;
    line-height: inherit;

    a {
        color: $colour--text--light;
        text-decoration: underline;
        border: none !important;
    }
}

del,
strike {
    color: $colour--text--light;
    text-decoration: none;
    background-image: linear-gradient(to bottom, rgba($colour--text--light, 0.5) 0%, rgba($colour--text--light, 0.5) 100%);
    background-position: 0 center;
    background-repeat: repeat-x;
    background-size: 2px 2px;
}

time {
    display: inline-block;
    color: $colour--text--light;
    text-transform: uppercase;
    font-family: $fonts--sans;

    abbr[title] {
        border: none;
        background-image: none;
    }
}

a { @extend .link; }

h1 { @extend .h1; }
h2 { @extend .h2; }
h3 { @extend .h3; }
h4 { @extend .h4; }
h5 { @extend .h5; }
h6 { @extend .h6; }

p { @extend .p; }

.prose {
    margin-bottom: em($baseline);
    &:last-child { margin-bottom: 0; }

    a:not([class]) {
        text-decoration: underline;
    }

    & > img,
    & > table,
    & > embed,
    & > iframe,
    & > object {
        margin: em($baseline) 0;
        &:first-child { margin-top: 0; }
        &:last-child { margin-bottom: 0; }
    }

    p + h1 { margin-top: em($baseline * 1.5, $h1); }
    p + h2 { margin-top: em($baseline * 1.5, $h2); }
    p + h3 { margin-top: em($baseline * 1.5, $h3); }

    .button {
        text-decoration: none;
    }
}

hr,
.hr {
    display: block;
    clear: both;
    height: em(2);
    margin: em($baseline - 1) 0;
    background: $colour--hairline;
    outline: none;
    border: 0;
}

.no-margin {
    margin-bottom: 0;
}
