
<footer id="footer" role="contentinfo">
    <div class="block">
        <div class="prose">
            <p><small>Copyright © David Bushell | <a href="http://twitter.com/dbushell/" target="_blank">@dbushell</a> | <a href="http://dbushell.com/" target="_blank">http://dbushell.com/</a></small></p>
        </div>
    </div>
</footer>

<script type="text/javascript" src="<!-- @asset js/vendor/jquery-1.11.1.min.js -->"></script>
<script type="text/javascript" src="<!-- @asset js/main.min.js -->"></script>

<script type="text/javascript">

$(document).ready(function()
{

    window.App.init();
    $(document.documentElement).addClass('js-ready');

});

</script>
</body>
</html>
