<!DOCTYPE html>
<!--[if IE 7]> <html lang="en" class="lt-ie9 lt-ie8 no-js"> <![endif]-->
<!--[if IE 8]> <html lang="en" class="lt-ie9 no-js"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <!--

    Copyright © David Bushell | @dbushell | http://dbushell.com/

    -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">

    <title><!-- @var title --></title>

    <!--[if (gt IE 8) | (IEMobile)]><!-->
    <link rel="stylesheet" href="<!-- @asset css/style.css -->">
    <!--<![endif]-->
    <!--[if (lt IE 9) & (!IEMobile)]>
    <link rel="stylesheet" href="<!-- @asset /css/oldie.css -->">
    <![endif]-->

    <script src="<!-- @asset /js/loadrunner.js -->"></script>

    <link rel="shortcut icon" type="image/x-icon" href="<!-- @asset img/favicon.ico -->">

    <!--
    <link rel="apple-touch-icon" href="assets/img/apple-touch-icon.png">
    <meta name="msapplication-TileImage" content="assets/img/ms-tile.png">
    <meta name="msapplication-TileColor" content="#ad52cc">
    <meta property="og:title" content="Website">
    <meta property="og:description" content="Website">
    <meta property="og:image" content="assets/img/og-image.png">
    -->
</head>
<body>

<header class="header" role="banner">
    <div class="block">
        <h1 class="block__title">Origin</h1>
<!-- @include _nav.html -->
    </div>
</header>
