/*!
// Media
*/

.media {
  @include clearfix;
  display: block;
  margin-bottom: em($baseline);

  &:last-child {
    margin-bottom: 0;
  }
}

.media__image {
  float: left;
  max-width: 25%;
  margin-right: em($gutter/2);

  .media--rev & {
    float: right;
    margin-right: 0;
    margin-left: em($gutter/2);
  }
}

.media__body {
  overflow: hidden;
}

@include respond-min($breakpoint-mobile) {

  .media__image {
    max-width: 50%;
  }

}
