
<pre class="block__code"><code class="language-markup">&lt;form class=&quot;form form--single&quot; id=&quot;form-search&quot;&gt;
    &lt;ul class=&quot;form__list&quot;&gt;
        &lt;li class=&quot;form__item&quot;&gt;
            &lt;label for=&quot;form-search__query&quot;&gt;Query&lt;/label&gt;
            &lt;input type=&quot;text&quot; class=&quot;field&quot; id=&quot;form-search__query&quot; placeholder=&quot;Enter search query…&quot;&gt;
        &lt;/li&gt;
        &lt;li class=&quot;form__item&quot;&gt;
            &lt;button type=&quot;submit&quot; class=&quot;button&quot;&gt;Search&lt;/button&gt;
        &lt;/li&gt;
    &lt;/ul&gt;
&lt;/form&gt;</code></pre>
