
<footer class="footer" role="contentinfo">
    <div class="block">
        <p><small>Copyright &copy; {{site_owner}} | <a href="http://twitter.com/dbushell/" target="_blank">@dbushell</a> | <a href="{{site_url}}" target="_blank">{{site_url}}</a></small></p>
        <hr>
    </div>
</footer>

<script type="text/javascript" src="{{ASSETS}}js/vendor/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="{{ASSETS}}js/main.min.js"></script>

<script type="text/javascript">

$(document).ready(function()
{

    window.App.init();
    $(document.documentElement).addClass('js-ready');

});

</script>
