<!-- @include _header.html -->

<main role="main" id="main">

    <div class="block block--origin">
        <div class="prose">
            <h1 class="block__title">Hello, world!</h1>
            <p class="p--large"><strong>Welcome to Origin, my starting point for front-end development.</strong> Origin is one part automated build tasks and one part <a href="<!-- @path origin.html -->">baseline style guide</a> for <abbr title="HyperText Markup Language">HTML</abbr>, <abbr title="Cascading Style Sheets">CSS</abbr>, and JavaScript.</p>
            <h2>About this project</h2>
            <p>Like the Web itself this project is forever a <em>work in progress</em>. I’ve decided to make Origin public for those interested. <strong>Origin it not a final solution, framework, or boilerplate I expect others to use “as is”.</strong> From time to time it will include experimental and far from optimal build tasks. You may prefer a less bespoke workflow like <a href="http://yeoman.io/" target="_blank">Yeoman</a> or a CSS framework like <a href="https://github.com/csswizardry/inuit.css" target="_blank">Inuit.css</a> without my preferences.</p>
            <p><a href="http://dbushell.com/2013/04/30/origin/" target="_blank"><strong>Learn more about Origin</strong></a></p>
            <hr>
            <h3>Getting started reminder…</h3>
            <br>
            <ol>
                <li>Prerequisites: Git, Node, <a href="http://phantomjs.org/" target="_blank">Phantom.js</a>, <a href="http://compass-style.org/" target="_blank">Compass</a>, <a href="http://imageoptim.com/" target="_blank">ImageOptim</a> and <a href="https://github.com/JamieMason/ImageOptim-CLI" target="_blank">ImageOptim CLI</a>
                <li>Create a new project repo with <code>git init</code>
                <li>Add default remote if required (see: <a href="https://help.github.com/articles/create-a-repo" target="_blank">GitHub Help &mdash; Create A Repo</a> for example)
                <li>Add and fetch <strong>Origin</strong> as a remote repository:
                    <br><code>git remote add -f dbushell-Origin git@github.com:dbushell/dbushell-Origin.git</code>
                <li>Merge <strong>Origin</strong> into the new project:
                    <br><code>git merge dbushell-Origin/master</code>
                <li>Run <code>npm install</code> to install Node dependencies
                <li>Run <code>grunt</code> to build this website to <code>./build/</code>
            </ol>
            <p>Use <code>grunt watch</code> to automatically rebuild HTML, CSS, JavaScript after they’ve been edited.</p>
        </div>
    </div>

</main>

<!-- @include _footer.html -->
