<pre class="block__code"><code class="language-markup">&lt;form class=&quot;form form--inline&quot; id=&quot;form-login&quot;&gt;
    &lt;ul class=&quot;form__list&quot;&gt;
        &lt;li class=&quot;form__item&quot;&gt;
            &lt;label for=&quot;form-login__username&quot;&gt;Username&lt;/label&gt;
            &lt;input class=&quot;field&quot; id=&quot;form-login__username&quot; placeholder=&quot;Username…&quot;&gt;
        &lt;li class=&quot;form__item&quot;&gt;
            &lt;label for=&quot;form-login__password&quot;&gt;Password&lt;/label&gt;
            &lt;input type=&quot;password&quot; class=&quot;field&quot; id=&quot;form-login__password&quot; placeholder=&quot;Password…&quot;&gt;
        &lt;li class=&quot;form__item&quot;&gt;
            &lt;input type=&quot;submit&quot; class=&quot;button&quot; value=&quot;Login&quot;&gt;
    &lt;/ul&gt;
&lt;/form&gt;</code></pre>
