
@function em($px, $base: 16) {
    @return ($px / $base) + em;
}

// Units for consistent spacing, vertical rhythm, and a typographic baseline

$unit      : 7;
$gutter    : $unit * 4;
$baseline : $unit * 4;
$field     : $unit * 6;

$p         : 17;
$p--large  : 24;
$p--small  : 14;

$h0: 55;
$h1: 45;
$h2: 30;
$h3: 25;
$h4: 20;
$h5: $p;
$h6: $p;

// Breakpoints

$breakpoint--mobile : 640;

// Colours

$colour--white     : #fff;
$colour--slate     : #494b4c;
$colour--cream     : #f2f0e6;
$colour--canvas    : #d9d7ce;
$colour--highlight : #fff699;
$colour--red       : #e54545;
$colour--green     : #99cc66;
$colour--brand     : $colour--green;

$colour--text               : #494b4d;
$colour--text--light        : #919599;
$colour--text--dark         : #303233;
$colour--text--brand        : #74b336;

$colour--text--link         : #3d9ccc;
$colour--text--link--hover  : darken($colour--text--link, 20);

$colour--hairline           : lighten(#b3b0aa, 15);
$colour--hairline--light    : lighten($colour--hairline, 15);
$colour--hairline--dark     : darken($colour--hairline, 15);

$colour--bg                 : $colour--cream;
$colour--bg--light          : $colour--white;
$colour--bg--dark           : $colour--slate;


// Fonts

$fonts--sans       : "Helvetica Neue", Helvetica, Arial, sans-serif;
$fonts--serif      : "Droid Serif", Georgia, serif;
$fonts--monospace  : Monaco, Courier, monospace;
$fonts             : $fonts--serif;

// https://github.com/jakearchibald/sass-ie/

$fix-media-queries: false !default;

@mixin respond-min($width) {
    @if ($fix-media-queries) {
        @if ($fix-media-queries >= $width) {
            @content;
        }
    }
    @else {
        @media screen and (min-width: em($width)) {
            @content;
        }
    }
}

@mixin respond-min-max($w1, $w2)
{
    @if ($fix-media-queries) {
        // nothing?
    }
    @else {
        @media screen and (min-width: em($w1)) and (max-width: em($w2)) {
            @content;
        }
    }
}

@mixin respond-max($width) {
    @if ($fix-media-queries) {
        @if ($fix-media-queries <= $width) {
            @content;
        }
    }
    @else {
        @media screen and (max-width: em($width)) {
            @content;
        }
    }
}

$old-ie: false !default;

@mixin old-ie {
    @if $old-ie {
        @content;
    }
}

// old and busted
// @mixin font-size($s1, $s2) {
//     font-size: em($s1);
//     line-height: em($s2, $s1);
// }

// new hotness from @inuitcss
@mixin font-size($font-size, $line-height: true) {
    font-size: em($font-size);
    @if $line-height == true {
        line-height: ceil($font-size / $baseline) * ($baseline / $font-size) + em;
    }
    @else {
        line-height: em($line-height, $font-size);
    }
}

@mixin no-appearance {
    -webkit-appearance: none;
    -moz-appearance: none;
}

@mixin no-tap-highlight {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    outline: none;
}

@mixin text-truncate {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@mixin clearfix {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
    *zoom: 1;
}

// Hide from both screenreaders and browsers: h5bp.com/u
@mixin hidden {
    display: none !important;
    visibility: hidden;
}

// Hide only visually, but have it available for screenreaders: h5bp.com/v
@mixin visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

@mixin image-replacement {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-indent: 150%;
}
