
@function em($px, $base: 16) {
    @return ($px / $base) + em;
}

// Units for consistent spacing, vertical rhythm, and a typographic baseline

$unit            : 7;
$unit--gutter    : $unit * 4;
$unit--baseline  : $unit * 4;

$unit--field     : $unit * 6;

$unit--p         : 17;
$unit--p--large  : 24;
$unit--p--small  : 14;

$unit--h0: 55;
$unit--h1: 45;
$unit--h2: 30;
$unit--h3: 25;
$unit--h4: 20;
$unit--h5: $unit--p;
$unit--h6: $unit--p;


// Breakpoints

$breakpoint--mobile : 640;


// Colours

$colour__white     : #fff;
$colour__slate     : #494b4c;
$colour__cream     : #f2f0e6;
$colour__canvas    : #d9d7ce;
$colour__highlight : #fff699;
$colour__error     : #e54545;
$colour__green     : #99cc66;
$colour__brand     : $colour__green;

$colour__text               : #494b4d;
$colour__text--light        : #919599;
$colour__text--dark         : #303233;
$colour__text--brand        : #74b336;

$colour__text--link         : #3d9ccc;
$colour__text--link--hover  : darken($colour__text--link, 20);
$colour__text--error        : $colour__error;

$colour__hairline           : lighten(#b3b0aa, 15);
$colour__hairline--light    : lighten($colour__hairline, 15);
$colour__hairline--dark     : darken($colour__hairline, 15);

$colour__bg                 : $colour__cream;
$colour__bg--light          : $colour__white;
$colour__bg--dark           : $colour__slate;


// Fonts

$fonts--sans       : "Helvetica Neue", Helvetica, Arial, sans-serif;
$fonts--serif      : "Droid Serif", Georgia, serif;
$fonts--monospace  : Monaco, Courier, monospace;

// https://github.com/jakearchibald/sass-ie/

$fix-media-queries: false !default;

@mixin respond-min($width) {
    @if ($fix-media-queries) {
        @if ($fix-media-queries >= $width) {
            @content;
        }
    }
    @else {
        @media screen and (min-width: em($width)) {
            @content;
        }
    }
}

@mixin respond-min-max($w1, $w2)
{
    @if ($fix-media-queries) {
        // nothing?
    }
    @else {
        @media screen and (min-width: em($w1)) and (max-width: em($w2)) {
            @content;
        }
    }
}

@mixin respond-max($width) {
    @if ($fix-media-queries) {
        @if ($fix-media-queries <= $width) {
            @content;
        }
    }
    @else {
        @media screen and (max-width: em($width)) {
            @content;
        }
    }
}

$old-ie: false !default;

@mixin old-ie {
    @if $old-ie {
        @content;
    }
}

// old and busted
// @mixin font-size($s1, $s2) {
//     font-size: em($s1);
//     line-height: em($s2, $s1);
// }

// new hotness from @inuitcss
@mixin font-size($font-size, $line-height: true) {
    font-size: em($font-size);
    @if $line-height == true {
        line-height: ceil($font-size / $unit--baseline) * ($unit--baseline / $font-size) + em;
    }
    @else {
        line-height: em($line-height, $font-size);
    }
}

@mixin no-appearance {
    -webkit-appearance: none;
    -moz-appearance: none;
}

@mixin no-tap-highlight {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    outline: none;
}

@mixin text-truncate {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@mixin clearfix {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
    *zoom: 1;
}

// Hide from both screenreaders and browsers: h5bp.com/u
@mixin hidden {
    display: none !important;
    visibility: hidden;
}

// Hide only visually, but have it available for screenreaders: h5bp.com/v
@mixin visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

@mixin image-replacement {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-indent: 150%;
}
